<po-page-edit
  [p-title]="pageTitle"
  (p-save)="save()"
  (p-cancel)="cancel()"
  [p-disable-submit]="isFormInvalid()">

  <div class="po-row">
    <po-input
      class="po-md-6"
      name="title"
      [(ngModel)]="vaga.titulo"
      p-label="Cargo da Vaga"
      p-required
      p-placeholder="Ex: Desenvolvedor Angular">
    </po-input>
  </div>

  <div class="po-row">
    <po-textarea
      class="po-md-6"
      name="descricao"
      [(ngModel)]="vaga.descricao"
      p-label="Descrição"
      [p-rows]="5"
      p-placeholder="Descreva as responsabilidades e requisitos da vaga...">
    </po-textarea>
  </div>

  <div class="po-row">
    <po-input
      class="po-md-6"
      name="empresa"
      [(ngModel)]="vaga.empresa"
      p-label="Empresa">
    </po-input>
  </div>

  <div class="po-row">
    <po-input
      class="po-md-3"
      name="salario"
      [(ngModel)]="vaga.salario"
      p-label="Salário">
    </po-input>
    <po-input
      class="po-md-3"
      name="localizacao"
      [(ngModel)]="vaga.localizacao"
      p-label="Localização">
    </po-input>
  </div>

  <div class="po-row">
    <po-combo
      class="po-md-3"
      name="status"
      [p-options]="statusOptions"
      p-label="Status">
    </po-combo>
    <po-combo
      class="po-md-3"
      name="modalidade"
      [p-options]="modalidadeOptions"
      p-label="Modalidade">
    </po-combo>
  </div>

  <div>
    <po-combo
      class="po-md-3"
      name="tipoContrato"
      [p-options]="tipoContratoOptions"
      p-label="Tipo de Contrato">
    </po-combo>
    <po-combo
      class="po-md-3"
      name="nivelSenioridade"
      [p-options]="nivelSenioridadeOptions"
      p-label="Senioridade">
    </po-combo>
  </div>

</po-page-edit>
